!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Rash Judgements"
      %meta{:content => content_for?(:description) ? yield(:description) : "Rash Judgements", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    #wrap
      .navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'    
      .main_container
        = yield :pre_container
        #main{:role => "main"}
          .container
            = render 'layouts/messages'
            = yield
          / ! end of .container
        / ! end of #main
      #push
    #footer
      .container
        %p.credit Made by Darren
    = yield :scripts